<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.board.mapper.BoardMapper">
 
    <insert id="boardInsert" parameterType="com.board.domain.BoardVO">
        insert into board_pro
            values
        (#{bno},#{subject},#{content},#{writer},now(),0)
    </insert>
    
    <select id="boardList" resultType="com.board.domain.BoardVO">
        select * from board_pro
    </select>
 
    <select id="boardView" parameterType="int" resultType="com.board.domain.BoardVO">
        select * from board_pro where bno = #{bno}
    </select>
    
    <update id="hitPlus" parameterType="int">
        update board_pro set hit = hit+1 where bno = #{bno}
    </update>
    
    <update id="boardUpdate" parameterType="com.board.domain.BoardVO">
        update board_pro set subject = #{subject}, content = #{content} where bno = #{bno}
    </update>
    
    <delete id="boardDelete" parameterType="int">
        delete from board_pro where bno = #{bno}
    </delete>
</mapper>

